<style>
  .image-container {
    position: relative;
  }

  .image {
    width: 288px;
    height: 344px;
  }

  .image__index {
    font-size: 17px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #cbe346;
    position: absolute;
    top: 11px;
    left: 17px;
  }
</style>

<div class="image-container">
  <a href="{{ url }}">
    <span class="image__index">{{ index }}</span>
    <img src="{{ image | image_url }}" alt="" class="image" width="100%" height="auto">
  </a>
</div>
