{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="main-navigation">
  <image src="{{ 'tennis-logo.svg' |  asset_url }}" alt="logo" class="logo" />

  <nav class="main-navigation__nav">
    <ul class="main-navigation__nav__list">
      {% for link in linklists['main-menu'].links -%}
        <li class="main-navigation__nav__item {%if link.active %} active {% endif %}">
          {{ link.title | link_to: link.url }}
        </li>
      {%- endfor %}
    </ul>
  </nav>

  <ul class="main-navigation__nav__list main-navigation__nav__list--langs">
    <li class="main-navigation__nav__item"><button type="button">ES</button></li>
    <li class="main-navigation__nav__item"><button type="button">EN</button></li>
  </ul>
</header>
