{{ 'slider.css' | asset_url | stylesheet_tag }}

{% liquid
  assign banners = section.blocks
  assign products = section.settings.collection.products
%}

<div class="sliders">
  {% render 'slide-banners', banners: banners %}
  {% render 'slide-products', products: products %}
</div>

{% schema %}
{
  "name": "Slider Products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    }
  ],
  "blocks": [
    {
      "type": "banners",
      "name": "Banners",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Background"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Banner Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Banner Text"
        }
      ]
    }
  ]
}
{% endschema %}
