.image-banner-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-banner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner__line {
  width: 2px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 105px;
  display: none;
}

.button-link {
  width: 269px;
  height: 53px;
  border-radius: 25.6px;
  border: 1px solid #ffffff;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}

.button-link__arrow {
  width: 23px;
  height: 23px;
  color: #ffffff;
}

.banner__content {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 39px;
}

.banner__heading {
  font-size: 53px;
  font-weight: bold;
  color: #ffffff;
  max-width: 709px;
  text-align: center;
}

@media (min-width: 768px) {
  .banner__content {
    padding-left: 173px;
    padding-right: 173px;
    align-items: flex-start;
  }
  .banner__heading {
    text-align: left;
  }

  .banner__line {
    display: block;
  }
}
