.button-link {
  width: 269px;
  height: 53px;
  border-radius: 25.6px;
  border: 1px solid #ffffff;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.button-link__arrow {
  width: 23px;
  height: 23px;
  color: #ffffff;
}

.black {
  border-color: #282e47 !important;
  color: #282e47 !important;
}
