.text-banner__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: #f3f4f8;
  padding: 16px;
  gap: 16px;
}

.text-banner__decoration {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1.87px;
  margin-top: 23px;
  align-self: start;
}

.text-banner__content {
  max-width: 555px;
  margin-left: 51px;
}

.text-banner__content h2 {
  color: #1e2335;
  font-size: 50px;
  margin-bottom: 40px;
  word-break: break-word;
}

.text-banner__content p {
  color: #787878;
  letter-spacing: 0.51px;
  font-size: 18px;
  line-height: 32px;
  max-width: 393px;
}

.text-banner__cta {
  margin-top: auto;
  margin-bottom: 66px;
}

@media (min-width: 1024px) {
  .text-banner__container {
    align-items: flex-start;
    flex-direction: row;
    padding-top: 81px;
    padding-left: 366px;
    gap: 0;
    height: 392px;
  }

  .text-banner__content {
    max-width: 555px;
    margin-left: 51px;
  }

  .text-banner__content h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .text-banner__content p {
    font-size: 18px;
    line-height: 32px;
    max-width: 393px;
  }
}
