.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cbe346;
  height: auto;
  flex-direction: column;
  padding: 20px 0;
}
.footer__nav__list {
  width: 100%;
  max-width: 431px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 13px;
  flex-wrap: wrap;
}

.footer__nav__list--main {
  flex-direction: column;
}
.footer-nav__item {
  display: flex;
  justify-content: center;
}
.footer-nav__item a {
  text-decoration: none;
  color: #2b3049;
  font-size: 13px;
  letter-spacing: 1.14px;
}

.active-footer {
  font-weight: bold;
}

.logo-footer {
  width: 55px;
  height: 55px;
}

.social {
  width: 31px;
  height: 31px;
  margin-right: 10px;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  align-items: center;
}

.footer__nav {
  display: flex !important;
  background-color: transparent !important;
  flex-direction: column;
  gap: 13px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 63px;
    padding-top: 64px;
  }

  .footer-navigation {
    gap: 0;
  }

  .footer__nav__list--main {
    flex-direction: row;
  }

  .footer__nav__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
